@using softstu_project.Models;
@using ConsoleApp.PostgreSQL;
@{
    string[] transactionName = { "ยืม", "คืน", "สาย" };
}

<div class="blacklist-page-container">
    <div class="device-history-container">
        <h2>ประวัติการยืม/คืน อุปกรณ์ ล่าสุด</h2>
        <div class="device-history-table-container">
            <table class="device-history-table" id="blacklist-device-history-table">
                <thead>
                    <th>วันดำเนินการ</th>
                    <th>วันที่จอง</th>
                    <th>หมายเลขอุปกรณ์</th>
                    <th>รหัสผู้ใช้งาน</th>
                    <th>สถานะ</th>
                </thead>
                <tbody>
                    @foreach (var log in ViewData["LogLists"] as List<Log>)
                    {
                        <tr>
                            <td>@log.created.ToShortDateString()</td>
                            <td>@log.book_date.ToShortDateString()</td>
                            <td>@log.item_id</td>
                            <td>@log.user_id</td>
                            <td>@transactionName[log.transaction_type]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="device-blacklist-container">
        <h2>รายการอุปกรณ์ที่ยังไม่ได้คืน</h2>
        <div class="device-blacklist-table-container">
            <form asp-controller="Admin" asp-action="OnDeleteTransaction" method="POST">
                <table class="device-blacklist-table" id="device-blacklist-table">
                    <thead>
                        <th>วันที่จอง</th>
                        <th>หมายเลขอุปกรณ์</th>
                        <th>รหัสผู้ใช้งาน</th>
                        <th>ยืนยันการคืน</th>
                    </thead>
                    <tbody>
                        @foreach (var transaction in ViewData["BlacklistLists"] as List<Transaction>)
                        {
                            <tr id="blacklist-@transaction.item_id">
                                <td>@transaction.book_date.ToShortDateString()</td>
                                <td>@transaction.item_id</td>
                                <td>@transaction.user_id</td>
                                <td>
                                    <button name="transactionID" type="submit" value="@transaction.uuid">ยืนยัน</button>
                                </td> 
                            </tr>
                            /// remove item from borrowLists here.
                            /// add item to Log here.
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>