@using softstu_project.Models;
@{
    string[] transactionName = { "ยืม", "คืน", "สาย" };
}

<div class="admin-page-container">
    <div class="lab-list-container">
        <h2>รายการห้องแลป</h2>
        <div class="lab-list-item-box" id="lab-list">
            @{
                int labID = 1;
            }
            @foreach (var lab in ViewData["LabLists"] as IList<LabListModel>)
            {
                <a href="Admin/Detail?labID=@labID">
                    <div class="lab-item-box">
                        <p>@lab.name</p>
                        <div class="item-box">
                            <div>
                                <p class="emoticon">🌞</p>
                                <div>
                                    <p>@lab.current_tool_am/</p>
                                    <p>@lab.total_tool</p>
                                </div>
                            </div>
                            <div>
                                <p class="emoticon">🌙</p>
                                <div>
                                    <p>@lab.current_tool_pm/</p>
                                    <p>@lab.total_tool</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>

                labID++;
            }
        </div>
    </div>

    <div class="device-history-container">
        <h2>ประวัติการยืม/คืน อุปกรณ์</h2>
        <div class="device-history-table-container">
            <table class="device-history-table" id="device-history-table">
                <thead>
                    <th>วัน/เดือน/ปี</th>
                    <th>หมายเลขอุปกรณ์</th>
                    <th>ชื่อผู้ใช้งาน</th>
                    <th>สถานะ</th>
                </thead>
                <tbody>
                    @foreach (var log in ViewData["LogLists"] as IList<LogModel>)
                    {
                        <tr>
                            <td>@log.created</td>
                            <td>@log.item_id</td>
                            <td>@log.user_name</td>
                            <td>@transactionName[log.transaction_type]</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="blacklist-link-box">
            <a asp-controller="Admin" asp-action="Blacklist">ดูรายการที่ยังไม่ได้คืนทั้งหมดที่นี่</a>
        </div>
    </div>
</div>