@{
    var labItems = ViewData["LabItems"] as List<ItemDetail>;
    var labList = ViewData["Title"] as List<Laboratory>;
    var labID = ViewData["LabID"];
}

<div class="detail-container">
    <div style="display:flex; margin-top: 10px;">
        <p style="font-size: 30px;">รายการ Lab :</p>
        <select id="lab-title" style="font-size: 30px;" onchange="labSelected()">
            @foreach(var lab in labList) {
                if (lab.uuid.ToString() == labID.ToString()) {
                    <option value=@lab.uuid selected >@lab.name</option>
                }
                else {
                    <option value=@lab.uuid  >@lab.name</option>
                }
            }
        </select>
        </div>
    <p>@ViewData["Description"]</p>

    <table class="tools-table">
        <thead >
            <tr>
                <th>No.</th>
                <th>ชื่ออุปกรณ์</th>
            </tr>
        </thead>
        <tbody id="table-body">
            @{int index = 0;}
            @foreach (var item in labItems) {
                <tr >
                    <td >
                        @{index++;}
                        @item.uuid
                    </td>
                    <td id="tools-table-title" >
                        <p id="exist-item @index">
                        @item.name
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function labSelected() {
            var lab = document.getElementById("lab-title").value
            location.href=`../Tools/?id=${lab}`
        }
    </script>

</div>

