@{
    var labItems = ViewData["LabItems"] as List<ItemDetail>;
    var labList = ViewData["Title"] as List<Laboratory>;
    @* var labID = ViewData["LabID"]; *@
}

<link href="@Url.Content("~/css/admin_detail_style.css")" rel="stylesheet" type="text/css" />
<div class="detail-container">
    @foreach(var lab in labList) {
        <div style="display:flex; margin-top: 10px;">
            <h1>@lab.name</h1>
        </div>

        <table class="tools-table">
            <thead >
                <tr>
                    <th>No.</th>
                    <th>ชื่ออุปกรณ์</th>
                </tr>
            </thead>
            <tbody id="table-body">
                @{int index = 0;}
                @foreach (var item in labItems) {
                    @if (item.laboratory_id == lab.uuid) {
                        <tr >
                            <td style="width: 100px">
                                @{index++;}
                                @item.uuid
                            </td>
                            <td id="tools-table-title" >
                                <p id="exist-item @index">
                                @item.name
                                </p>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    

    <script>
        function labSelected() {
            var lab = document.getElementById("lab-title").value
            location.href=`../Tools/?id=${lab}`
        }
    </script>

</div>

