@using softstu_project.Models;
@{
    var user = ViewData["UserInfo"] as User;
    List<TransactionItem> transactionItems = ViewData["TransactionItems"] as List<TransactionItem>;
}
<div class="profile-container">
    <div class="pf-cont">
        <img class="pf-img" alt="pf-img" src="~/images/@(user.gender).png" />
        <div class="pf-detail-cont">
            <div class="student-name">@user.fname @user.lname</div>
            <div class=" pf-detail">
                <img class="detail-icon" src="~/images/user-profile/id.svg" />
                <div>@user.student_id</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" alt="" src="~/images/user-profile/email.svg" />
                <div>@user.email</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" src="~/images/user-profile/faculty.svg" />
                <div>@($"คณะ{user.faculty}")</div>
            </div>
            <div class="pf-detail">
                <img class="detail-icon" src="~/images/user-profile/department.svg" />
                <div>@($"ภาควิชา{user.department}")</div>
            </div>
        </div>
    </div>

    <div class="transaction-list-cont">
        <div class="transaction-list-header">
            <div>
                รายการยืมอุปกรณ์
            </div>
        </div>
        <div class="transaction-list">
            @if (transactionItems.Count > 0)
            {
                @foreach (var transactionItem in transactionItems)
                {
                    <div class="transaction-item">
                        <div class="item-img"
                            style="background-image: url('../../images/@((ItemTypes)transactionItem.type).png')">
                        </div>
                        <div class="item-detail-cont">
                            <div class="item-id">[@transactionItem.item_id] @transactionItem.name</div>
                            <div class="item-trans-date">@transactionItem.book_date.ToShortDateString()</div>
                            <div class="item-trans-type">@(new Transaction().GetTimeName(transactionItem.time_id))</div>
                        </div>
                        <button class="cancel-booking" title="ยกเลิกการจอง" type="submit" onclick="alert('cancel')">
                            <img alt="cancel-icon" src="~/images/user-profile/cancel.svg" />
                        </button>
                    </div>
                }
            }
            else
            {
                <div class="transaction-item">
                    <div class="item-img"
                        style="background-image: none; background: rgb(180, 240, 250)"
                    >
                    </div>
                    <div class="item-detail-cont">
                        <div class="item-id">[x] ยังไม่มีรายการ</div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    userAuthorizeUser();

    function userAuthorizeUser() {
        if (!isLoggedIn()) location.href = "/";
    }
</script>